---
# Create Guacamole Server
- name: pull guacd
  community.docker.docker_image:
    name: guacamole/guacd
    source: pull
    tag: '{{ version_tags.guacd }}'
    pull:
      platform: amd64

- name: create container guacd
  community.docker.docker_container:
    name: guacd
    image: 'guacamole/guacd:{{ version_tags.guacd }}'
    state: started
    restart_policy: always
    interactive: true
    tty: true
...